.chosen__list {
  position: fixed;
  right: 20px;
  background-color: #f26233;
  z-index: 20;
  padding: 10px;
  box-shadow: -1px 1px 8px -3px;
  border-radius: 5px;

  .title {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    background-color: #f26233;
  }

  .selected__group {
    border: 1px solid orange;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px -5px rgba(0, 0, 0, 0.53);
    border-radius: 2px;
  }

  .group {
    padding: 0 10px;
    position: relative;
    background-color: #fff;
  }
  

  .group .header {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 -10px;
    padding: 0 10px;
  }

  .group__program .header {
    background-color: rgb(187, 187, 187);
    color: #000000;

    .delete {
      background-color: red;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      right: 3px;
    }

  }

  .group__campaigns .header {
    background-color: rgba(129, 124, 75, 0.38);
  }

  .delete {
    vertical-align: baseline;
    margin-right: 5px;
  }

  .campaign__unit {
    padding: 2px 0 0 5px;
    margin: 0 -10px;
  }

  .campaign__unit:nth-of-type(2n+1) {
    background: rgba(247, 229, 210, 0.42);
  }

}